<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :chloroform %><br />
    <%= f.text_field :chloroform %>
  </div>
  <div class="field">
    <%= f.label :bromoform %><br />
    <%= f.text_field :bromoform %>
  </div>
  <div class="field">
    <%= f.label :chlorodibromide %><br />
    <%= f.text_field :chlorodibromide %>
  </div>
  <div class="field">
    <%= f.label :dichlorobromide %><br />
    <%= f.text_field :dichlorobromide %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
