<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @sample.location %>
</p>

<p>
  <b>Chloroform:</b>
  <%= @sample.chloroform %>
</p>

<p>
  <b>Bromoform:</b>
  <%= @sample.bromoform %>
</p>

<p>
  <b>Chlorodibromide:</b>
  <%= @sample.chlorodibromide %>
</p>

<p>
  <b>Dichlorobromide:</b>
  <%= @sample.dichlorobromide %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %> |
<%= link_to 'Test', sample_test_path(@sample) %>
