<p id="notice"><%= notice %></p>

<p>
  <b>Factor1:</b>
  <%= @factor.factor1 %>
</p>

<p>
  <b>Factor2:</b>
  <%= @factor.factor2 %>
</p>

<p>
  <b>Factor3:</b>
  <%= @factor.factor3 %>
</p>

<p>
  <b>Factor4:</b>
  <%= @factor.factor4 %>
</p>


<%= link_to 'Edit', edit_factor_path(@factor) %> |
<%= link_to 'Back', factors_path %>
